*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.static-layout {
  position: static;
  background-color: #35495e;
  width: 100%;
  border-radius: 44%;
}
header {
    background-color: #35495e;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.center-text {
    text-align: center;
    color: white
}
  
header h1 span {
    color: #e67e22;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #2c3e50;
    padding: 1rem 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #e67e22;
}

section {
    padding: 2rem;
}

#achievements ul {
    padding-left: 2rem;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.profile img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 15px;
    top: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}
