.jumbotron {
    padding-top: 6rem;
    background-color: #ff0000;
}

#project {
    background-color: #ed0000;
}
.kirim {
    background-color: rgb(231, 0, 0);
}
.bg {
    background-color: rgb(255, 0, 0);
}
section {
    padding-top: 5rem;
}
